body {
    font-family: sans-serif;
    text-align: center;
    font-size: 16px; /* Base font size */
  }
  
  #bpm-button, #play-button1 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    touch-action: none;
  }

  #play-button1 {
    width: 6.25rem;
    height: 6.25rem;
  }
  
  #beat-input-label {
    font-size: 2.25rem;
  }
  
  #beat-input {
    font-size: 2.25rem;
    margin-top: 1.25rem;
    width: 9.375rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 1px solid #ccc;
  }
  
  .button-tap {
    transform: scale(0.95);
  }